@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

:root {
  --background: rgba(0, 214, 170, .85);
}

*, 
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #222;
  font-family: 'Raleway', bold;
  font-weight: 400;
}

header {
  background: #f5f5f5;
  padding: 25px;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.logo {
  margin: 0;
  color: #648E3D
}

.nav-toggle {
  display: none;
}

nav {
  position: absolute;
  text-align: left; 
  top: 100%;
  left: 0;
  background: #AD8453;
  width: 100%;
  
  transform: scale(1,0);
  transform-origin: top;
  transition: transform 400ms ease-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: #648E3D;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0; 
  transition: opacity 150ms ease-out;  
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-out 300ms;
}

nav a:hover {
  color: #000;
}

.nav-toggle-label{
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}
  
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px; 
  position: relative; 
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

.hero {
    background-image: url("/images/gorilla-img.jpg");  
    width: 100%;
    height: 100vh;
    background-size: cover;
  }

.hero-type{
  padding: 100px 20px 20px 20px;
  text-align: center;
}

.hero-para{
  font-size: x-large;
  text-align: center;
  font-weight: 700;
  color: #fff;
  text-shadow: black 2px 2px;
}
 
  
  
  @media screen and (min-width: 600px) {
    
    .nav-toggle-label {
      display: none;
    }
  
  header {
      display: grid; 
      grid-template-columns: 1fr auto minmax(900px, 3fr) 1fr;
    }
  
  .logo {
      grid-column: 2/3;
    }
  
  nav {
      all:unset;
      grid-column: 3/4;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  
  nav ul {
      display: flex;
    }
    
    nav li {
      margin-left: 3em;
      margin-bottom: 0;
    }
    
    nav a {
      opacity: 1;
      position: relative;
    }
  
  nav a::before {
      content: "";
      display: block;
      height: 5px;
      background: black;
      position: absolute;
      top: -.5em;
      left: 0;
      right: 0;
      transform: scale(0,1);
      transform-origin: left;
      transition: transform ease-in-out 250ms;
    }
  
  nav a:hover::before {
      transform: scale(1,1);
    }
    
    
    img {
      max-height: 470px;
      max-width: 305px;
    }

    
    
    .wrapper {
      width: 100%;
      
     
    } 
    
    .about-box {
      height: 100vh;
      background: url("/images/website-background-green.jpg");
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .about-box-text {
      width: 60%;
      text-align: center;
      background: #24843B;
      color: white;
      padding: 15px 60px;
    
    }
    
    .event-box {
      height: 100vh;
      background: url("/images/bw-lepoard.jpg");
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center; 
    } 
    
    .event-box-text {
      width: 60%;
      text-align: center;
      background: rgba(0,0,0,.75);
      color: white;
      padding: 15px 60px;
    }
    
    .help-box {
      height: 100vh;
      background: url("https://assets.codepen.io/5009829/Pattern.jpeg");
      background-size: cover;
      
    }
    
    .help-box-text{
      width: 60%;
      text-align: center;
      background: rgba(0,0,0,.75);
      color: white;
      padding: 15px 60px;
    }
    
  
   
  .donors-box {
    text-align: center;
    background-color: #24843B;
    color: white;
    padding: 115px;
  }
    
  .red-box {
    background-color: #D7E395; 
    display: flex;
    padding: 150px;
    text-align: center; 
  }  
    
  
  .ways-box {
    background-color: #24843B; 
   display: flex;
   padding: 150px;
   text-align: center; 
   color: white;
   }

   
  
   .contact-box{
    height: 100vh;
     background: url("https://assets.codepen.io/5009829/Visual+Style.jpeg");
     background-size: cover;
     display: flex;
     justify-content: center;
     align-items: center; 
   }
   
   .contact-us-box{
    width: 60%;
     text-align: right;
     background: rgba(0,0,0,.75);
     color: white;
     padding: 15px 60px; 
   }
 
 form {
   width: 700px;
   background: #fff;
   padding: 35px;
   margin-top: 20vh;
 }
 
 input {
   width: 100%;
 }
 
 textarea {
   resize: vertical;
   max-height: 100px;
 }
 
 input, textarea {
   outline: none;
   border: none;
   border-bottom: 1px dashed #ddd;
   border-right: 1px dashed #ddd;
   margin: 10px;
   font-size: .7em;
 }
 
 input:focus, textarea:focus {
   box-shadow: 0 0 4px rgba(255, 0,0, 0.5);
 }
 
 input:placeholder {
   color: green;
   opacity: .3;
 }
 
 .submit-button {
   display: block;
   padding: 5px 15px;
   margin: 20px auto;
   outline: none;
   border-radius: 25px;
   border: none;
 }
 
 .submit-button:hover {
   background: green;
   color: 
 } 
    
    
    footer {
    padding: 10px;
    background: #A07659;
    text-align: center;
    width: 100%;
    z-index: 1000;
    object-position:center;
    }